<!Tiffany Cao
SoftDev1 pd1
K24 -- A RESTful Journey Skyward
2019-11-12>

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title> Testing </title>
  </head>
  <body>
    <h1> NASA Open API Testing </h1>
    <img src = "{{ pic }}"/>
    <br><br>
    This image shows a satellite view of Earth at the coordinates longitude 100.75 and latitude 1.5 on the given date of 2014-02-01.
    <br>
    The NASA Earth API gives users access to images of the Earth seen from the satellite Landsat 8, which was launched in 2013.
    Users can search the database by giving values on longitude, latitude, and date (the satellite image was taken). The date may not be exact, but will be the closest date.
    <br>


  </body>
</html>
