<!DOCTYPE HTML>

<html>
  <head>
      <title> {{ ti }} </title>
  </head>
  <body>
    <h1> {{ randJob }} </h1>
    <table>
      <tr style="color: blue; ">
        <td> {{ tableTitle1 }} </td>
        <td> {{ tableTitle2 }} </td>
      </tr>
    {% for key, value in collection.items() %}
      <tr>
        <td>{{ key }} </td>
        <td> {{ value }} </td>
    {% endfor %}
  </tr>
  <tr style="color: blue; ">
    <td> {{ tableEnd1 }} </td>
    <td> {{ tableEnd2 }} </td>
  </tr>
  </table>
  </body>
</html>
