<!DOCTYPE HTML>

<html>
  <head>
      <title> {{ ti }} </title>
  </head>
  <body>
    <h1> <p>
          Cookies -- Tiffany Cao & Emory Walsh <br />
          SoftDev1 pd1 <br />
          K10 -- Jinja Tuning <br />
        </p>
        </h1>
    <small>
      <small>
    <h2> This webpage creates a table of the many occupations and their percentages. It obtains a random job from the table with the chances of being chosen based on each job's percentage. Refreshing the page will get a new draw.
    </h2>
  </small>
  </small>
    <h3> <big> <big> <big> <mark> {{ randJob }} </mark> </big> </big> </big> </h3>
    <table>
      <tr style="color: blue; ">
        <td> {{ tableTitle1 }} </td>
        <td> {{ tableTitle2 }} </td>
      </tr>
    {% for key, value in collection.items() %}
      <tr>
        <td>{{ key }} </td>
        <td> {{ value }} </td>
    {% endfor %}
  </tr>
  <tr style="color: blue; ">
    <td> {{ tableEnd1 }} </td>
    <td> {{ tableEnd2 }} </td>
  </tr>
  </table>
  </body>
</html>
