<!Tiffany Cao & Jackie Lin
SoftDev1 pd1
K25 -- Getting More REST
2019-11-13>

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title> Having Fun with APIs </title>
  </head>
  <body>
    <h1> Having Fun with APIs </h1><br>
    Click the links to see examples for the APIs we tested: <br>
    <a href="/addressautocomplete">USPS Address Autocomplete</a><br>
    <a href="/darksky">Dark Sky</a><br>
    <a href="/airquality">Global Air Quality</a><br>
    <a href="/trivia">Open Trivia</a><br>
    <a href="/omdb">OMDB</a><br>
    <a href="/countries">Countries</a><br>
  </body>
</html>
